*{
    margin:0;
    padding:0;
    font-size: 16px;
    
    font-weight: 550;
    font-family: sans-serif;
}
body{
    padding:1vh 8vw;
}
.header{
    height:10vh;
    position:sticky;
   
   display: flex;
   justify-content:space-around;
}
.logo, .sign{
    width:20%;
    height:100%;
    

}
.navbutton{
    width:50%;
    height:100%;
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.navitem, .language, .signin{
    background-color: white;
    border-style: none;
    width:100px;
    height:40px;
    border-radius: 20px;
}
.navitem:hover, .language:hover{
    background-color: #f0f0f0;
}
.sign{
    display:flex;
    justify-content: end;
    align-items: center;
}
.signin{
    background-color: black;
    color:white;
}
.img1{
    width:23px;
    border-right: 3px solid #f0f0f0;
    padding-right:8px;
    margin-right: 4px;
}
.language{
    display:flex;
    align-items: center;
    justify-content: center;
}
.signin:hover{
    background-color: #333333;
}
.logo img{
    width:150px;
    height:50px;
}
.logo{
    margin-top:8px;
}
.changetext{
    width:100%;
    height:10vh;
    margin-top:5vh;
    font-size: 48px;
    text-align:center
}
.services{
    margin:1.5vh auto;
    display:flex;
    width:50%;
    justify-content:center;
    align-items: center;
}
.serviceitems{
    border-style:none;
    background-color: white;
    margin:25px;
    height:24px;
    display: flex;
    align-items:center;
    padding-bottom: 15px;
}
.serviceitems:hover{
    border-bottom: 2px solid black;
}
.flightimg , .bedimg, .trainimg , .busimg , .transfer{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}
.bedimg{
    width: 20px;
    height: 20px;
}
.transfer{
    width: 25px;
    height: 25px;
}
.footer1{
    height:55vh;
    width:94.69%;
    padding: 4vh;
    background-color: #D1B26F;
    border-radius: 5vh;
    /* border-style: solid; */
    position:relative;
    display: flex;
    top:18vh;
    /* left:8vw; */
   
    
    
}
.footer2{
    height:70vh;
    width:98.93vw;
    background-color: #3B4A6B;
    margin:-1vh -8vw;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;

}
.f1{
    height:100%;
    width:35%;
    background-color: #E0E0E0;
    border-radius: 4vh;
    margin-right: 10vh;
    /* margin-left: 5vh; */
    
}
.f2 , .f3{
    height:100%;
    width:30%;
    
    margin-right:5vh;
}
.f21 , .f22 , .f31 , .f32{
    width:100%;
    height:40%;
    background-color: #E0E0E0;
    border-radius: 4vh;
    /* border-style: solid; */
    /* border-color: #F4D35E; */
}
.f21, .f31{
    margin-bottom: 8.5vh;
}
.f2{
    margin-right:10vh;
}