.reason-for-travel_box {
    /* background-color: rebeccapurple; */
    background-color:  #6dff4c;
    /* padding-top: 2vh; */
    /* padding-bottom: 2vh; */

    /* margin-top: 200px;  WORKS BTW */

    width: 90%;
    height: 100%;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border-color: black; */
    /* border-style: solid; */
    /* border-width: 2px; */

    color: black;

    /* box-shadow: 0px 0.3vh 8px rgba(0, 0, 0, 0.2); */

    /* border-right: none; */
    /* border: none; */

    padding-right: 0;
    margin-right: 0;
}

/* .reason-for-travel_box:hover {
    cursor: pointer;
} */

.reason-for-travel_button {
    height: 100%;
    /* width: 7vw; */

    display: flex;
    justify-content: center;
    align-items: center;

    /* padding-right: 20px; */
}

.reason-for-travel_buttonn:hover {
    cursor: pointer;
    background-color: #6dff4c9b;
}

.promocode_box {
    /* background-color: rebeccapurple; */
    background-color: #6dff4c;
    padding-top: 2vh;
    padding-bottom: 2vh;

    /* margin-top: 200px;  WORKS BTW */

    width: 90%;
    height: 75%;
    border-radius: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;

    box-shadow: 0px 0.3vh 8px rgba(0, 0, 0, 0.2);
}

.promocode_box:hover {
    background-color: #6dff4c9b;
    cursor: pointer;
}

.promocode_box:active {
    opacity: 0.8;
    cursor: pointer;
    transform: translateY(2px);
}

.search_box {
    /* background-color: rebeccapurple; */
    background-color:  #6dff4c;
    padding-top: 2vh;
    padding-bottom: 2vh;

    /* margin-top: 200px;  WORKS BTW */

    width: 90%;
    height: 75%;
    border-radius: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;

    box-shadow: 0px 0.3vh 8px rgba(0, 0, 0, 0.2);
}

.search_box:hover {
    background-color: #6dff4c9b;
    cursor: pointer;
}

.search_box:active {
    opacity: 0.8;
    cursor: pointer;
    transform: translateY(2px);
}

.reason-button {
    border: hidden;
    height: 8vh;
    width: 100%;
}